@model Emuses.Example.Models.Home.SessionModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Session info:</h2>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <span><strong>Session id:</strong> @Model.Session.GetSessionId()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Expiration date:</strong> @Model.Session.GetExpirationDate()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Version:</strong> @Model.Session.GetVersion()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Session timeout: </strong>@Model.Session.GetSessionTimeout()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Time to close session: </strong></span><span id="timeToCloseSession">@Model.Minutes.ToString("00"):@Model.Seconds.ToString("00")</span>
            <input type="hidden" id="minutes" name="minutes" value="@Model.Minutes" />
            <input type="hidden" id="seconds" name="seconds" value="@Model.Seconds" />
        </div>
    </div>

    @section scripts {
        <script>
            var interval;

            window.onload = function () {
                var minutes = document.getElementById('minutes').value;
                var seconds = document.getElementById('seconds').value;

                printTimeToCloseSession("timeToCloseSession");

                function printTimeToCloseSession(output) {
                    interval = setInterval(function () {
                        var element = document.getElementById(output);

                        if (seconds === 0) {
                            if (minutes === 0) {
                                element.innerHTML = "Session closed!";
                                clearInterval(interval);
                                return;
                            } else {
                                minutes--;
                                seconds = 60;
                            }
                        }

                        element.innerHTML = format(minutes) + ':' + format(seconds);
                        seconds--;
                    }, 1000);
                }

                function format(data) {
                    if (data > 9) {
                        return data;
                    } else {
                        return "0" + data;
                    }
                }
            }
        </script>
    }
}
