@model Emuses.Example.Models.Home.SessionModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Session info:</h2>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-12">
            <span><strong>Session id:</strong> @Model.Session.GetSessionId()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Expiration date:</strong> @Model.Session.GetExpirationDate()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Version:</strong> @Model.Session.GetVersion()</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <span><strong>Session timeout: </strong>@Model.Session.GetSessionTimeout()</span>
        </div>
    </div>

@*    <div class="row">*@
@*        <div class="col-md-12">*@
@*            <span><strong>Time to close session: </strong>@Model.TimeToCloseSession</span>*@
@*        </div>*@
@*    </div>*@
}